.carrusel {
  text-align: center;
}

.seccion-dos-movi .slick-slide {
  cursor: pointer;
  padding-bottom: 3em;
}

.seccion-dos-movi .slick-slider {
  padding: 0;
  margin: 0;
}

ul.boxes {
  padding: 0;
}

.carrusel ul.boxes li {
  margin: 12px 20px;
}

.modal-paquetes {
  background-color: rgb(6, 44, 66);
  padding-top: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  will-change: height, max-height;
  position: absolute;
  /*cambiar*/
  top: 100%;
  left: 0%;
  width: 100%;
}

.modal-paquetes.activated {
  padding: 2em 0;
  max-height: 200vh;
  -webkit-box-shadow: 0 .25em .25em rgba(0, 0, 0, .1);
  box-shadow: 0 .25em .25em rgba(0, 0, 0, .1);
}

.slick-slide {
  position: relative;
}

.slick-slide::after {
  content: '';
  position: absolute;
  display: block;
  border: solid transparent;
  border-width: 0 2em 3em;
  border-bottom: white solid 3em;
  left: calc(50% - 1.5em);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(1.5em);
  transform: translateY(1.5em);
  opacity: 0;
}

.slick-slide:hover::after {
  -webkit-transform: translateY(.5em);
  transform: translateY(.5em);
  opacity: 1;
}

.seccion-dos-movi .content-popup {
  -webkit-transition: all ease .5s .1s;
  transition: all ease .5s .1s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.seccion-dos-movi .content-popup.selected {
  max-height: 100vh;
  opacity: 1;
}

/*=========================
COPIAR HASTA AQUÍ
=========================*/

@media (max-height: 720px) {
  .modal-paquetes.activated {
    max-height: 300vh;
  }
  .seccion-dos-movi .content-popup.selected {
    max-height: 300vh;
  }
}

/*CLASES DECORATIVAS DUVER*/

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.33);
  box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.33);
}

.seccion-dos-movi {
  text-align: center;
}

.seccion-movi {
  padding: 27px 0;
  padding-bottom: 0;
  position: relative;
}

.seccion-dos-movi {
  position: relative;
  z-index: 10;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.carusel-logo-contenido .slick-list {
  overflow: visible !important;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.seccion-dos-movi .slick-slide {
  display: inline-block;
  float: none;
  width: 234px;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
}

.popup img {
  margin: 0 auto;
}

.seccion-movi img {
  width: auto;
}

.slick-slide img {
  display: block;
  margin: auto;
}

img {
  border-style: none;
}

.enlace-rosa {
  position: relative;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  pointer-events: bounding-box;
  cursor: help;
  font-size: 1.2em;
}

ul.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*DEMOSTRATIVE CLASS*/

@media (max-width: 1200px) {
  .slick-list {
    overflow-x: auto !important;
    max-width: 100vw;
  }
  .slick-track {
    min-width: 1200px;
  }
}

/*
<input type="text" style="font-size: 3em; width: 100vw; margin-top: 3em; text-align: center;" placeholder="este texto ignoralo, es para efectos visuales">*/