.ui.sidebar.vertical.menu
  %a.link.item(href='#top') Home
  %a.link.item(href='#work') Work
  %a.link.item(href='#member') Member
  %a.link.item(href='#company') Company

.ui.grid
  .tablet.computer.only.row
    .ui.top.fixed.large.secondary.menu.top-bar
      .ui.container
        %a.icon.item
          %i.apple.icon
        .right.menu#following-nav
          %a.link.item.scroll-to(href='#top') Home
          %a.link.item.scroll-to(href='#work') Work
          %a.link.item.scroll-to(href='#member') Member
          %a.link.item.scroll-to(href='#company') Company

.ui.segment.masthead#top
  .ui.grid
    .mobile.only.row
      .ui.large.secondary.menu
        %a.item.toc
          %i.sidebar.icon
          Menu
  .ui.text.center.aligned.container
    %h1.ui.inverted.header Hello World!

.ui.vertical.stripe.segment#work
  .ui.center.aligned.text.container
    %h2.ui.header Work
  .ui.four.column.doubling.stackable.grid.container
    - 4.times do
      .column
        %a.ui.fluid.image(href='#')
          %img(src='https://semantic-ui.com/images/wireframe/image-text.png')

.ui.vertical.stripe.segment#member
  .ui.center.aligned.text.container
    %h2.ui.header Member
  .ui.three.doubling.stackable.cards.grid.container
    - 6.times do
      .ui.card
        .image
          %img(src='http://placehold.it/650x650')
        .content
          .header John Doe
          .meta
            %a CEO
          .description John Doe lives in New York.
        .extra.content
          %a(href="#")
            %i.large.facebook.link.icon
          %a(href="#")
            %i.large.twitter.link.icon
          %a(href="#")
            %i.large.github.link.icon


.ui.vertical.stripe.segment#company
  .ui.center.aligned.text.container
    %h2.ui.header Company
  .ui.container
    %table.ui.definition.table
      %tbody
        - 5.times do
          %tr
            %td Lorem Ipsum
            %td is simply dummy text of the printing and typesetting industry.

.ui.inverted.vertical.segment
  .ui.text.container
    %footer Copywrite &copy; 2015