// Array of colors to loop through
- colors = ["primary", "secondary", "warning", "danger", "success", "info"];
nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
  .container
        button.navbar-toggler.hidden-lg-up.pull-xs-right(type="button" data-toggle="collapse" data-target="#primary-nav") ☰
        a(href="#" class="navbar-brand") Life's a Beach
        #primary-nav.collapse.navbar-toggleable-md.pull-xs-right
            ul.nav.navbar-nav
                li.nav-item
                    a.nav-link(href="#cards") Cards                
                li.nav-item
                    a.nav-link(href="#about") About
                li.nav-item
                    a.nav-link(href="#buttons") Buttons                        
                li.nav-item
                    a.nav-link(href="#typography") Typography
                li.nav-item
                    a.nav-link(href="https://uk.linkedin.com/in/edd-yerburgh-74aa5768" target="newwindow") Me    
.jumbotron.full-screen#beach-img
    .center
        .container.text-xs-center.m-t-2
            h1.display-1 Life's a Beach
            h3 Bootstrap 4 Concept Theme
            a(href="#cards")
                i.fa.fa-caret-down.color-font-header.x-large.color-danger-hover
.jumbotron.bg-white#cards
    .padding-b-t-100p
        .container
            .row#cards             
                h2.display-4 Cards
            .row.display-lg-flex.hidden
                .col-lg-4.display-lg-flex.m-t-3.p-t-3
                    .card
                        .card-block
                            h4.card-title.text-xs-center.m-b-1 Lightweight
                            i.fa.fa-cloud.fa-5x.fa-fixed.text-xs-center.block.m-b-2                   
                            p.card-text As many styles as needed an no more. This is a lightweight theme.
                .col-lg-4.display-lg-flex.m-t-3.p-t-3
                    .card
                        .card-block
                            h4.card-title.text-xs-center.m-b-1 Customizable
                            i.fa.fa-wrench.fa-5x.fa-fixed.text-xs-center.block.m-b-2          
                            p.card-text Written in SCSS using Bootstrap mixins. It's easy to customize the source code.

                .col-lg-4.display-lg-flex.m-t-3.p-t-3
                    .card
                        .card-block
                            h4.card-title.text-xs-center.m-b-1 Free
                            i.fa.fa-money.fa-5x.fa-fixed.text-xs-center.block.m-b-2 
                            p.card-text Free-fallin', free as a bird, free as in beer. Land of the free. It's free.                                       
.jumbotron.bg-danger#about
    .padding-b-t-100p
        .container.bg-white.jumbotron
            .col-md-6.col-md-offset-3.text-gray-dark
                h2.display-4 About
                p.lead This is a mock up of a Bootstrap 4 theme. It's a work in progress, but I want to get some feedback on the design before I proceed.
                p I'm gonna make a Bootstrap 4 theme. Bootstrap 4's exciting - there are way more features than previous versions. First though I figured I'd mock this and get some feedback.
                p There's still a long time before it's release, but a lot of the core classes and styles are stable.
                p Scroll down to see the styling.
.container
    .row                                     
        .col-md-12.text-xs-center.m-t-3.m-b-3.p-t-3#buttons
            h2.text-xs-center.m-b-3 Buttons
            .row
                each val in colors
                    button( type="button" class="btn btn-" + val) #{val}
            br
            .row
                each val in colors
                    button( type="button" class="btn btn-outline-" + val) #{val}
.container

        .col-md-8.col-md-offset-2.p-b-3.m-t-3#typography
            h2.text-xs-center.m-b-3 Typography
            p.lead This is lead text. Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters.

            p Hogshead ye Letter of Marque bucko knave Pieces of Eight matey mutiny interloper six pounders. 
            p Quarter squiffy topmast plunder swab square-rigged gally nipperkin reef man-of-war. Keelhaul to go on account no prey, no pay Privateer Pieces of Eight belaying pin scuppers Jolly Roger bounty aye.
            p You can use the mark tag to 
                mark highlight
                |  text
            p
                del This line of text is meant to be treated as deleted text.
            p
                s This line of text is meant to be treated as no longer accurate
            p
                ins This line of text is meant to be treated as an addition to the document.
            p
                u This line of text will render as underlined
            p
                small This line of text is meant to be treated as fine print.
            p
                strong This line rendered as bold text.
            p
                em This line rendered as italicized text.

            p It's always good to see what 
                a(href="#") links look like
            hr
            h2 Headings

            h1 Heading 1
            h2 Heading 2  
            h3 Heading 3  
            h4 Heading 4  
            h5 Heading 5  
            h6 Heading 6 
            hr
            h2 Lists
            ul
                li Cheese
                li Tomato 
                li Bread
            ol
                li Firstly
                li Secondly
                li Thirdly
                li Fourthly
            hr
            h2 Blockquotes
            blockquote.blockquote
                p.m-b-0 I grew up in a utopia, I did. California when I was a child was a child's paradise, I was healthy, well fed, well clothed, well housed. I went to school and there were libraries with all the world in them and after school I played in orange groves and in Little League and in the band and down at the beach and every day was an adventure. . . . I grew up in utopia
                footer.blockquote-footer
                    p.m-b-0  Kim Stanley Robinson, 
                        cite(title="Pacific Edge") Pacific Edge
            hr
            h2 Tables
            table.table
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                    tbody
                        tr
                            th(scope="row") 1
                            td Mark
                            td Otto
                            td @mdo
                        tr
                            th(scope="row") 2
                            td Jacob
                            td Thornton
                            td @fat                                                    
                        tr
                            th(scope="row") 3
                            td Larry
                            td the Bird
                            td @twitter  
        .col-md-8.col-md-offset-2
            h2 Display Headings          
        .col-md-12
            h2.display-1 Heading 1
            h2.display-2 Heading 2
            h2.display-3 Heading 3
            h2.display-4 Heading 4
footer.footer.bg-primary.m-t-3.p-t-3.p-b-3
    .container
        .col-md-4.text-md-center
            h4.text-white Wanna Help?
            p Get in touch on github or add me on Codepen.
        .col-md-4.text-md-center
            h4.text-white Connect
            ul.list-inline
                li
                    a(href="https://www.linkedin.com/in/edd-yerburgh-74aa5768" target="newwindow")
                        i.fa.fa-linkedin.fa-3x 
                li
                    a(href="https://github.com/eddyerburgh" target="newwindow")
                        i.fa.fa-github.fa-3x  
                li
                    a(href="https://twitter.com/EddYerburgh" target="newwindow")  
                        i.fa.fa-twitter.fa-3x                        
        .col-md-4.text-md-center
            h4.text-white Join in!
            p Get Bootstrap 4 
                a(href="https://v4-alpha.getbootstrap.com/" target="newwindow") here       